.developingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #8d8b8b;
  min-height: 100vh;

  .developing{
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    h1 {
      margin: 50px 0;
    }
    h2 {
      margin-bottom: 50px;
      color: black;

    }
    h3{
      cursor: pointer;
      &:hover {
        color: #000;
      }
    }
  }

}