.sectionMenuWrapper {
  background-color: #fff;
  .sectionMenu {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
    @media screen and (max-width: 800px){
      flex-direction: column;
    }
    .sectionMenuCategory {
      @media screen and (max-width: 600px){
        display: flex;
        flex-direction: column;
      }
      a {
        margin-right: 20px;
        color: #596f84;
      }
    }
    .sectionMenuAccount {
      padding: 10px 0;
      display: flex;
      align-items: center;
      a {
        margin-left: 5px;
      }
    }
  }
}