.companiesWrapper{
  background-color: #8d8b8b;
  min-height: 100vh;
  .companies {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    .temporaryInfo {
      background-color: #fff;
      justify-content: center;
      display: flex;
      border-radius: 10px;
      flex-direction: column;
      p {
        justify-content: center;
        display: flex;
        font-size: 13px;
      }
    }

    .companyWrapper{
      margin-top: 20px;
      background-color: #fff;
      .company{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-weight: 400;
        font-size: 25px;
        .companyRating {
          font-size: 14px;
          margin-left: 5px;
        }

      }
    }
    }
  .rateCompany {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    flex-direction: column;
    h1 {
      font-size: 20px;
      margin: 5px;
    }
    .rateSection {
      padding-bottom: 10px;
      display: flex;
      .companySelect {
        padding: 5px;
        font-size: 18px;
        border-bottom: none;
        border-left: none;
        border-top: none;
      }
      .ratingSelect {
        padding: 5px;
        margin-left: 5px;
        font-size: 18px;
        border-bottom: none;
        border-right: none;
        border-top: none;
      }
      button {
        margin-left: 5px;
        padding: 10px;
        border: none;
        font-size: 18px;

      }
    }
  }
}